.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar {
    border-radius: 0px;
    ;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}