table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  /* for radio buttons */
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  input[type="radio"]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  input[type="radio"]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
  }
  input[type="radio"]::after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  input[type="radio"]:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
  input[type="radio"] {
      visibility: hidden;
  }
  
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  input[type="checkbox"]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
    cursor: text;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid black;
  }
  
  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #f42536;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  label::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
  }
  label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5c6aff;
  }
  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
  
  .seatStylingUp {
      padding: 20px 50px 0px 50px;
  }
  .seatStylingDown {
      padding: 0px 50px 20px 50px;
  }
  .tableStyling {
      padding:0px;
      width:5px;
  }
  
  .seatStylingUp label {
      padding: 4px 4px;
  }
  .seatStylingDown label {
      padding: 4px 4px;
  }
  
  .blueBackground {
      background-color:dodgerblue;
      border: 1px solid dodgerblue;
  }
  
  .redBackground {
      background-color: #f42356;
      border: 1px solid #f42356;
  }
  
  .blackBackground {
      background-color:black;
      border: 1px solid black;
  }
  
  .greyBackground {
      background-color: dimgrey;
      border: 1px solid dimgrey;
  }
  
  .darkGreenBackground {
      background-color: mediumseagreen;
      border: 1px solid mediumseagreen;
  }
  
  .brownBackground {
      background-color:saddlebrown;
      border: 1px solid saddlebrown;
  }
  
  .whiteBackground { 
      background-color: white;
      border: 1px solid white;
  }
  
  .yellowBackground {
      background-color: goldenrod;
      border: 1px solid goldenrod;
  }
  
  .borderBlack {
      border: 3px solid black;
  }
  
  .borderBlackTop {
      border-top: 3px solid black;
  }
  
  .borderBlackBottom {
      border-bottom: 3px solid black;
  }
  
  .borderBlackRight {
      border-right: 3px solid black;
  }
  
  .borderBlackLeft {
      border-left: 3px solid black;
  }