<div class="row">
    <div class="col-md-6 setDivWidthHeight" style="padding-top:10%;">
        <span class="titleStyle">Smart Desk Reservation</span><br><br>
        <h2>Pre-Book desk and confirm your arrival to office which will help in maintaining limited employee count and social distancing during COVID-19 situation</h2>
        <div>
            <button type="button" (click)="clickLogin($event)" color="primary">Get Started</button>
        </div>
    </div>
    <div class="col-md-6 setDivWidthHeight">
        <img src="..\..\assets\img\LandingPageImg1.jpg " class="img-fluid animated " alt=" ">
    </div>
</div>