<div *ngIf='!showBookingPage'>
    <h2 style="color:darkblue;text-align:center;"><b>FLOOR LAYOUT | </b><i style="font-weight:100;font-size:14px;">PLEASE SELECT A SEAT</i></h2>

    <section>
        <div class="example-button-row BookingSeatButton">
            <button *ngIf='!isSeatSelected' mat-raised-button color="primary" (click)='showBookingFun()'>Book Now</button>
        </div>
    </section>

    <div style="text-align:center;">
        <app-seat *ngFor="let desk of desks" (seatSelect)="seatHandler($event)" [desk]="desk"></app-seat>
    </div>

</div>

<div class="managebooking-form-fill" *ngIf='showBookingPage'>
    <div class="managebooking-form-fill-child">
        <form #manageForm="ngForm" (ngSubmit)="onSubmit(manageForm.value)">
            <mat-card>
                <mat-card-content>
                    <mat-card-title><b>Seat Booking Details</b></mat-card-title>

                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Floor Number</mat-label>
                            <input disabled matInput [(ngModel)]="selectedDesk.floorNo" name="floorNo" placeholder="Floor Number Selected">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Desk Number</mat-label>
                            <input disabled matInput [(ngModel)]="selectedDesk.deskNo" name="deskNo" placeholder="Desk Number Selected">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <mat-label>Booking Date</mat-label>
                            <input matInput [matDatepicker]="dp3" disabled>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <mat-label><b>Duration</b></mat-label>
                            <input matInput value="1 Day" disabled>
                        </mat-form-field>
                    </p>

                    <!-- <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Booked By</mat-label>
                            <input disabled matInput [(ngModel)]="userName" name="userName" placeholder="Person Name Booked By">
                        </mat-form-field>
                    </p>


                    <p>
                        <mat-form-field>
                            <mat-label><b>Booked On </b></mat-label>
                            <input matInput value={{todayDate}} disabled>
                        </mat-form-field>
                    </p> -->

                    <!-- <p>Current time: {{todayDate}}</p> -->

                    <section>
                        <div class="example-label"></div>
                        <div class="example-button-row">
                            <button mat-raised-button color="primary" matTooltip="Use to Rebook previously done Booking" aria-label="Button that displays a tooltip when focused or hovered over" (click)="releaseBooking()">Release Booking</button>
                            <button type="submit" mat-raised-button color="accent" matTooltip="Use to Submit the Chosen Seat" aria-label="Button that displays a tooltip when focused or hovered over" (click)="openSnackBar()">Submit</button>
                            <!-- <button mat-raised-button color="warn" matTooltip="Use to Cancel the Previously Done Booking" aria-label="Button that displays a tooltip when focused or hovered over">Cancel</button> -->
                        </div>

                    </section>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>