.managebooking-form-fill {
    text-align: center;
}

.managebooking-form-fill-child {
    display: inline-block;
    padding-top: 50px;
}

.mat-card {
    box-shadow: 0px 2px 6px -1px #673ab7;
}

.BookingSeatButton {
    display: table;
    float: right;
    margin-bottom: 10px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 8px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

mat-form-field {
    margin-right: 12px;
}

.mat-raised-button.mat-primary {
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
    background-color: #673ab7;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}

.mat-raised-button.mat-accent {
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
    background-color: #ffd740;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}

.mat-raised-button.mat-primary:hover,
.mat-raised-button.mat-accent:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

.mat-raised-button.mat-primary:hover:active,
.mat-raised-button.mat-accent:hover:active {
    transform: scale(0.99);
}

.positionFloorDate {
    padding-left: 10px;
    color: rgba(0, 0, 0, .87);
    padding-top: 30px;
}

.datePickerStyling {
    padding-left: 20px;
}


/* ********************************* */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 10px solid black;
}

td,
th {
    /* border: 1px solid #dddddd; */
    padding: 8px;
    background-color: #fcfeff;
}


/* for radio buttons */

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]:checked+label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

input[type="radio"]:disabled+label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
}

input[type="radio"]::after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}

input[type="radio"]:hover {
    box-shadow: none;
    cursor: not-allowed;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]:disabled+label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
    cursor: text;
    box-shadow: none;
    border-radius: 0px;
    /*    border: 1px solid black;*/
}

label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #3498DB;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

label::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
}

label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5c6aff;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.seatStylingUp {
    padding: 20px 40px 0px 40px;
}

.seatStylingDown {
    padding: 0px 40px 20px 40px;
}

.tableStyling {
    padding: 0px;
    width: 5px;
}

.seatStylingUp label {
    padding: 4px 4px;
}

.seatStylingDown label {
    padding: 4px 4px;
}

.blueBackground {
    background-color: steelblue;
    border: 1px solid steelblue;
}

.redBackground {
    background-color: #f42356;
    border: 1px solid #f42356;
}

.blackBackground {
    background-color: black;
    border: 1px solid black;
}

.greyBackground {
    background-color: dimgrey;
    border: 1px solid dimgrey;
}

.darkGreenBackground {
    background-color: green;
    border: 1px solid green;
}

.brownBackground {
    background-color: saddlebrown;
    border: 1px solid saddlebrown;
}

.whiteBackground {
    background-color: white;
    border: 1px solid white;
}

.yellowBackground {
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

.borderBlack {
    border: 3px solid black;
}

.borderBlackTop {
    border-top: 3px solid black;
}

.borderBlackBottom {
    border-bottom: 3px solid black;
}

.borderBlackRight {
    border-right: 3px solid black;
}

.borderBlackLeft {
    border-left: 3px solid black;
}

.whiteBox {
    background-color: white;
    width: 40px;
    height: 34px;
}

.blackBox {
    height: 20px;
    background-color: white;
    border: 2px solid black;
}

.blueBox {
    height: 20px;
    background-color: white;
}

.borderGreyRight {
    border-right: 2px solid grey;
}

.lightGreyBackground {
    background-color: lightgray;
    border: 1px solid lightgray;
}